<section class="accessibility text-center footer" aria-label="Accessibility Statement">
    <a href="/accessibility-feedback" class="accessibility-link"><span class="accessibility-text">Read more on our accessibility statement</span></a>
</section>
