<footer class="ftr">
   <div class="container">
      <div class="ftr-left">
         <ul class="text-xs-center text-sm-left">
            <li><span class="copytext">&copy;<span class="copy-date"></span> ProfitStars Test Bank.</span></li>
            <li><a href="https://www.fdic.gov" title="Member FDIC">Member FDIC</a></li>
            <li><a href="https://www.hud.gov" title="Equal Housing Lender">Equal Housing Lender <span class="icon icon-ehl" aria-hidden="true"></span></a></li>
            <li>Created by <a href="https://www.profitstars.com" title="ProfitStars" class="icon icon-profitstars"><span class="sr-only">ProfitStars</span></a></li>
         </ul>
      </div>
      <div class="visible-xs-block text-xs-center">
         <a href="#" id="scrollTop">
            <span class="icon icon-arrow-up" aria-hidden="true"></span>
            <span class="sr-only">Scroll to the top</span>
         </a>
      </div>
      <div class="ftr-right">
         <div class="accordion" id="resourcesAccordion">
            <h2 id="ftr-resources-hdr">
               <button type="button" data-toggle="collapse" data-target="#ftr-resources" aria-expanded="false" aria-controls="ftr-resources">Resources</button>
            </h2>
            <div id="ftr-resources" class="collapse" aria-labelledby="ftr-resources-hdr" data-parent="#resourcesAccordion">
               <banno:menu menu-id=""></banno:menu>
               <!-- @if NODE_ENV!='production' -->
               <ul class="banno-menu">
                  <li class="menu-internal"><a href="disclosures">Disclosures</a></li>
                  <li class="menu-internal"><a href="use-patriot-act">USA Patriot Act</a></li>
                  <li class="menu-internal"><a href="terms-conditions">Terms & Conditions</a></li>
                  <li class="menu-internal"><a href="privacy-policy">Privacy Policy</a></li>
               </ul>
               <!-- @endif -->
            </div>
         </div>
         <div class="accordion" id="touchUsAccordion">
            <h2 id="ftr-touchUs-hdr">
               <button type="button" data-toggle="collapse" data-target="#ftr-touchUs" aria-expanded="false" aria-controls="ftr-touchUs">Get in Touch</button>
            </h2>
            <div id="ftr-touchUs" class="collapse" aria-labelledby="ftr-touchUs-hdr" data-parent="#touchUsAccordion">
               <banno:menu menu-id=""></banno:menu>
               <!-- @if NODE_ENV!='production' -->
               <ul class="banno-menu">
                  <li class="menu-internal"><a href="contact-us">Contact Us</a></li>
                  <li class="menu-internal"><a href="locations-hours">Locations & Hours</a></li>
               </ul>
               <!-- @endif -->
            </div>
         </div>
      </div>
   </div>
</footer>
<div class="footer-links">
</div>
</div>
{{> accessibility-icon }}