<nav id="main-nav" class="navbar-collapse">
   <banno:menu menu-id="CHANGEME"></banno:menu>
   <!-- @if NODE_ENV!='production' -->
   <ul class="banno-menu" role="menubar">
      <li role="menuitem" class="dropdown menu-category">
         <span class="category-item dropdown-toggle" tabindex="0" role="button" aria-haspopup="true" data-toggle="dropdown">Consumer</span>
         <ul role="menu" class="dropdown-menu">
            <li role="menuitem" class="dropdown menu-group">
               <span class="group-item dropdown-toggle" tabindex="0" role="button" aria-haspopup="true" data-toggle="dropdown">Banking</span>
               <ul role="menu" class="dropdown-menu">
                  <li role="menuitem" class="menu-internal">
                     <a href="/personal-banking/personal-checking">Checking</a>
                  </li>
                  <li role="menuitem" class="menu-internal">
                     <a href="/personal-banking/personal-savings-and-money-market">Savings &amp; Money Market</a>
                  </li>
                  <li role="menuitem" class="menu-internal">
                     <a href="/personal-banking/cds-iras">CDs &amp; IRAs</a>
                  </li>
                  <li role="menuitem" class="menu-internal">
                     <a href="/personal-banking/mortgage-home-equity">Mortgages &amp; Home Equity</a>
                  </li>
                  <li role="menuitem" class="menu-internal">
                     <a href="/personal-banking/loans-and-lines-of-credit">Loans &amp; Lines of Credit</a>
                  </li>
                  <li role="menuitem" class="menu-internal">
                     <a href="/personal-banking/cds-iras">CDs &amp; IRAs</a>
                  </li>
                  <li role="menuitem" class="menu-internal">
                     <a href="/personal-banking/mortgage-home-equity">Mortgages &amp; Home Equity</a>
                  </li>
                  <li role="menuitem" class="menu-internal">
                     <a href="/personal-banking/loans-and-lines-of-credit">Loans &amp; Lines of Credit</a>
                  </li>
                  <li role="menuitem" class="menu-internal">
                     <a href="/personal-banking/cds-iras">CDs &amp; IRAs</a>
                  </li>
                  <li role="menuitem" class="menu-internal">
                     <a href="/personal-banking/mortgage-home-equity">Mortgages &amp; Home Equity</a>
                  </li>
                  <li role="menuitem" class="menu-internal">
                     <a href="/personal-banking/loans-and-lines-of-credit">Loans &amp; Lines of Credit</a>
                  </li>
               </ul>
            </li>
            <li role="menuitem" class="dropdown menu-group">
               <span class="group-item dropdown-toggle" tabindex="0" aria-haspopup="true" data-toggle="dropdown">Lending</span>
               <ul role="menu" class="dropdown-menu">
                  <li role="menuitem" class="menu-internal">
                     <a href="/commercial-banking/business-checking">Checking</a>
                  </li>
                  <li role="menuitem" class="menu-internal">
                     <a href="/commercial-banking/business-savings-money-market">Savings &amp; Money Market</a>
                  </li>
                  <li role="menuitem" class="menu-internal">
                     <a href="/commercial-banking/cash-management">Cash Management</a>
                  </li>
                  <li role="menuitem" class="menu-internal">
                     <a href="/commercial-banking/business-financing">Financing</a>
                  </li>
               </ul>
            </li>
            <li role="menuitem" class="dropdown menu-group">
               <span class="group-item dropdown-toggle" tabindex="0" aria-haspopup="true" data-toggle="dropdown">Additional Services</span>
               <ul role="menu" class="dropdown-menu">
                  <li role="menuitem" class="menu-internal">
                     <a href="/commercial-banking/business-checking">Wire Transfers</a>
                  </li>
                  <li role="menuitem" class="menu-internal">
                     <a href="/commercial-banking/business-savings-money-market">Kids Checking</a>
                  </li>
                  <li role="menuitem" class="menu-internal">
                     <a href="/commercial-banking/cash-management">Free Merch</a>
                  </li>
                  <li role="menuitem" class="menu-internal">
                     <a href="/commercial-banking/business-financing">Other Stuff You Want</a>
                  </li>
               </ul>
            </li>
         </ul>
      </li>
      <li class="dropdown menu-category" role="menuitem">
         <span class="category-item">Commercial</span>
         <ul class="dropdown-menu" role="menu">
            <li class="dropdown menu-group" role="menuitem">
               <span class="group-item">Commercial Services</span>
               <ul class="dropdown-menu" role="menu">
                  <li class="menu-external" role="menuitem">
                     <a href="https://www.google.com">External Link</a>
                  </li>
                  <li class="menu-internal" role="menuitem">
                     <a href="/business/commercial-services-savings-compare-accounts">Savings</a>
                  </li>
                  <li class="menu-internal" role="menuitem">
                     <a href="/business/loans">Loans</a>
                  </li>
                  <li class="menu-internal" role="menuitem">
                     <a href="/business/cdsiras">CDs/IRAs</a>
                  </li>
                  <li class="menu-internal" role="menuitem">
                     <a href="/business/cash-managementonline-services">Cash Management/Online Services</a>
                  </li>
               </ul>
            </li>
            <li class="dropdown menu-internal" role="menuitem">
               <a class="dropdown-toggle" href="/personal/checking">Checking</a>
               <ul class="dropdown-menu" role="menu">
                  <li class="menu-internal" role="menuitem">
                     <a href="/regulation-e/overdraft-consent-form">Overdraft Consent Form</a>
                  </li>
                  <li class="menu-external" role="menuitem">
                     <a target="_blank" href="https://forms.banno.com/first-state.net/stop_payment/">Stop Payment</a>
                  </li>
               </ul>
            </li>
            <li class="menu-internal" role="menuitem">
               <a href="#">CDs</a>
            </li>
            <li class="menu-internal" role="menuitem">
               <a href="#">Other Personal Services</a>
            </li>
            <li class="menu-internal" role="menuitem">
               <a href="#">Meet Your Banking Team</a>
            </li>
         </ul>
      </li>
      <li class="dropdown menu-category" role="menuitem">
         <span class="category-item">Specialized Business Units</span>
         <ul class="dropdown-menu" role="menu">
            <li class="menu-internal" role="menuitem">
               <a href="#">Checking</a>
            </li>
            <li class="menu-internal" role="menuitem">
               <a href="#">Savings</a>
            </li>
            <li class="menu-internal" role="menuitem">
               <a href="#">CDs</a>
            </li>
            <li class="menu-internal" role="menuitem">
               <a href="#">Employee Benefits</a>
            </li>
            <li class="menu-internal" role="menuitem">
               <a href="#">Meet Your Banking Team</a>
            </li>
         </ul>
      </li>
      <li role="menuitem" class="menu-internal">
         <a href="/personal-banking/personal-checking">Our Company</a>
      </li>
   </ul>
   <!-- @endif -->
</nav>