<div class="newsletter__container">
    <div class="container">
        <div class="ajax-form-container">
            <div class="form-container">
                  <div class="content text-center">
                        <h5>Newsletter Header Copy</h5>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad eveniet nostrum cupiditate voluptates.</p>
                  </div>
                  <div class="spacer-30"></div>
                  <form id="newsletterForm" data-parsley-validate name="newsletterForm" class="ajax-form">
                      <input type="hidden" name="formId" value="newsletterForm" class="form-id-input">
                      <div class="row">
                        <div class="col-sm-6">
                          <div class="form-group">
                            <label for="fullName" class="sr-only">Name<span>*</span></label>
                            <input type="text" placeholder="Name" class="form-control" name="name" id="fullName" required>
                          </div>
                        </div>
                        <div class="col-sm-6">
                          <div class="form-group">
                            <label for="emailAddress" class="sr-only">Email<span>*</span></label>
                            <input type="email" data-parsley-email placeholder="Email" class="form-control" name="email" id="emailAddress" required>
                          </div>
                        </div>
                        <div class="spacer-20"></div>
                        <div class="col-xs-12 text-center">
                            <button type="submit" class="btn btn-primary">SUBMIT
                            <span class="loading"><span class="loading-inner"></span></span></button>
                            <div class="error">There was an error submitting the form</div>
                        </div>
                      </div>
                  </form>
            </div>
            <div class="success-container">
              <div class="content text-center">
                  <h4>Thank you for your submission!</h4>
                  <p>We will be in touch with you soon.</p>
              </div>
            </div>
        </div>
    </div>
</div>