<banno:sentinel-badge data-theme="light"></banno:sentinel-badge>
<!-- @if NODE_ENV!='production' -->
<div id="sentinel-badge" data-theme="light"><img alt="Sentinel" title="Scanned by Sentinel" width="88" height="31" src="https://uat.banno.com/a/monitor/api/badge/monitor-badge-dark@2x.png"><span style="display:block;font-family:sans-serif;font-size:10px;color:#ffffff;">Verified: Aug 5, 2015</span></div>
<!-- @endif -->