<div class="news remove-blank">
   <div class="news-item remove-blank">
      <div class="container">
         <div class="content" data-content-block="newsItem1" data-content="content" data-editable="editable">
            {{#page.newsItem1}}
               {{& content}}
            {{/page.newsItem1}}
            <!-- @if NODE_ENV!='production' -->
               <div>check it out</div>
               <h2>Community Involvement</h2>
               <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
               <p><a href="#">See More Community Events</a></p>
            <!-- @endif -->
         </div>
      </div>
   </div>
   <div class="news-item remove-blank">
      <div class="container">
         <div class="content" data-content-block="newsItem2" data-content="content" data-editable="editable">
            {{#page.newsItem2}}
               {{& content}}
            {{/page.newsItem2}}
            <!-- @if NODE_ENV!='production' -->
               <div>check it out</div>
               <h2>New Branch to Open in Madison</h2>
               <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
               <p><a href="#">See More Community Events</a></p>
            <!-- @endif -->
         </div>
      </div>
   </div>
   <div class="news-item remove-blank">
      <div class="container">
         <div class="content" data-content-block="newsItem3" data-content="content" data-editable="editable">
            {{#page.newsItem3}}
               {{& content}}
            {{/page.newsItem3}}
            <!-- @if NODE_ENV!='production' -->
               <div>check it out</div>
               <h2>Get Your Kids a Free Puppy</h2>
               <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
               <p><a href="#">See More Community Events</a></p>
            <!-- @endif -->
         </div>
      </div>
   </div>
</div>