<div class="subads remove-blank row">
   <div class="col-sm-4">
      <div class="subad remove-blank">
         <div class="subad__image">
            <div data-content-block="feature1image" data-content="content" data-editable="editable">
               {{#page.feature1image}}
                  {{& content}}
               {{/page.feature1image}}
               <!-- @if NODE_ENV!='production' -->
               <a href="#"><img src="https://placeimg.com/600/400/people" alt=""></a>
               <!-- @endif -->
            </div>
         </div>
         <div class="subad__content remove-blank">
            <div data-content-block="feature1content" data-content="content" data-editable="editable">
               {{#page.feature1content}}
                  {{& content}}
               {{/page.feature1content}}
               <!-- @if NODE_ENV!='production' -->
               <h2>MOBILE BANKING<br />FOR YOUR NEEDS</h2>
               <p>Lorem ipsum dolor sit amet, consectetur elit.</p>
               <!-- @endif -->
            </div>
         </div>
      </div>
   </div>
   <div class="col-sm-4">
      <div class="subad remove-blank">
         <div class="subad__image">
            <div data-content-block="feature2image" data-content="content" data-editable="editable">
               {{#page.feature2image}}
                  {{& content}}
               {{/page.feature2image}}
               <!-- @if NODE_ENV!='production' -->
               <a href="#"><img src="https://placeimg.com/600/400/technology" alt=""></a>
               <!-- @endif -->
            </div>
         </div>
         <div class="subad__content remove-blank">
            <div data-content-block="feature2content" data-content="content" data-editable="editable">
               {{#page.feature2content}}
                  {{& content}}
               {{/page.feature2content}}
               <!-- @if NODE_ENV!='production' -->
               <h2>MERCHANT SERVICES</h2>
               <p>Lorem ipsum dolor sit amet, consectetur elit.</p>
               <!-- @endif -->
            </div>
         </div>
      </div>
   </div>
   <div class="col-sm-4">
      <div class="subad remove-blank">
         <div class="subad__image">
            <div data-content-block="feature3image" data-content="content" data-editable="editable">
               {{#page.feature3image}}
                  {{& content}}
               {{/page.feature3image}}
               <!-- @if NODE_ENV!='production' -->
               <a href="#"><img src="https://placeimg.com/600/400/nature" alt=""></a>
               <!-- @endif -->
            </div>
         </div>
         <div class="subad__content remove-blank">
            <div data-content-block="feature3content" data-content="content" data-editable="editable">
               {{#page.feature3content}}
                  {{& content}}
               {{/page.feature3content}}
               <!-- @if NODE_ENV!='production' -->
               <H2>LOANS</h2>
               <p>Lorem ipsum dolor sit amet, consectetur elit.</p>
               <!-- @endif -->
            </div>
         </div>
      </div>
   </div>
</div>