<div class="subads__container remove-blank">
   <div class="subads__slider">
      <div class="subads__slide remove-blank">
         <div class="subads__image">
            <div class="subads__image__overlay"></div>
            <div data-content-block="feature1image" data-content="content" data-editable="editable">
               {{#page.feature1image}}
                  {{& content}}
               {{/page.feature1image}}
               <!-- @if NODE_ENV!='production' -->
               <a href="#"><img src="https://placeimg.com/600/400/people" alt=""></a>
               <!-- @endif -->
            </div>
         </div>
         <div class="subads__content remove-blank">
            <div class="inside">
               <div data-content-block="feature1content" data-content="content" data-editable="editable">
                  {{#page.feature1content}}
                     {{& content}}
                  {{/page.feature1content}}
                  <!-- @if NODE_ENV!='production' -->
                  <h2>Mobile Banking</h2>
                  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor.</p>
                  <!-- @endif -->
               </div>
            </div>
         </div>
      </div>
      <div class="subads__slide remove-blank">
         <div class="subads__image">
            <div class="subads__image__overlay"></div>
            <div data-content-block="feature2image" data-content="content" data-editable="editable">
               {{#page.feature2image}}
                  {{& content}}
               {{/page.feature2image}}
               <!-- @if NODE_ENV!='production' -->
               <a href="#"><img src="https://placeimg.com/600/400/technology" alt=""></a>
               <!-- @endif -->
            </div>
         </div>
         <div class="subads__content remove-blank">
            <div class="inside">
               <div data-content-block="feature2content" data-content="content" data-editable="editable">
                  {{#page.feature2content}}
                     {{& content}}
                  {{/page.feature2content}}
                  <!-- @if NODE_ENV!='production' -->
                  <h2>Merchant Services</h2>
                  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor.</p>
                  <!-- @endif -->
               </div>
            </div>
         </div>
      </div>
      <div class="subads__slide remove-blank">
         <div class="subads__image">
            <div class="subads__image__overlay"></div>
            <div data-content-block="feature3image" data-content="content" data-editable="editable">
               {{#page.feature3image}}
                  {{& content}}
               {{/page.feature3image}}
               <!-- @if NODE_ENV!='production' -->
               <a href="#"><img src="https://placeimg.com/600/400/nature" alt=""></a>
               <!-- @endif -->
            </div>
         </div>
         <div class="subads__content remove-blank">
            <div class="inside">
               <div data-content-block="feature3content" data-content="content" data-editable="editable">
                  {{#page.feature3content}}
                     {{& content}}
                  {{/page.feature3content}}
                  <!-- @if NODE_ENV!='production' -->
                  <h2>Loans</h2>
                  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor.</p>
                  <!-- @endif -->
               </div>
            </div>
         </div>
      </div>
   </div>
</div>