#alertBox {
	background:$gray;

	* {
		color:$white;
		font-size: 14px;
		margin: 0;
	}

	.container{
		position: relative;
		width: 90%;
		max-width: $screen-md;
		padding: 10px 20px 10px 0;
		margin: 0 auto;
	}

	.close {
		@include transition(all .3s);
		position:absolute;
		right:0;
		top:10px;
		font-weight:100;
		opacity:1;
		font-size: 28px;
		line-height: 1;

		&:hover {
			opacity:0.75;
			@include scale(1.4);
		}
	}
}