{{> partials/top}}<body class="subpage calculator">{{> partials/compliance}}<div class="master-container">{{> partials/header}}<div class="container">{{> partials/nav}}<div id="main" tabindex="-1" role="main"><div class="row"><div class="col-lg-9 col-md-7"><h1 class="page-title">{{page.title}}</h1><div class="content" data-content-block="bodyCopy1" data-content="content" data-editable="editable">{{#page.bodyCopy1}} {{& content}} {{/page.bodyCopy1}}</div><div class="accordion-area remove-blank">{{> blocks/accordion}}<div class="spacer-30"></div></div><div class="content" data-content-block="bodyCopy2" data-content="content" data-editable="editable">{{#page.bodyCopy2}} {{& content}} {{/page.bodyCopy2}}</div></div><div class="col-lg-3 col-md-5"><div class="content" data-content-block="bodyCopy3" data-content="content" data-editable="editable">{{#page.bodyCopy3}} {{& content}} {{/page.bodyCopy3}}</div></div></div></div></div>{{> partials/footer}}</div>{{> partials/scripts}}</body>