<div class="alert hidden-alert" id="alertBox"><div class="inner"><div data-content-block="alertCopy" data-content="content" data-editable="editable" class="alert-body">{{#page.alertCopy}} {{& content}} {{/page.alertCopy}}</div><button class="close"><span class="sr-only">Close Alert</span>&times;</button></div></div>