<footer class="footer" id="footer"><div class="container"><a href="#" id="scrollTop" class="visible-xs-block"><img src="/assets/img/topScroll.png" alt="Back to Top"></a><div class="footer-links"><banno:menu menu-id="CHANGEME"></banno:menu></div><div class="copyright"><ul class="list-inline"><li><span class="copytext">&copy;<span class="copy-date"></span> YourFI.</span></li><li><span class="fdic"><a href="https://www.fdic.gov" title="Member FDIC">Member <span class="icon icon-fdic" aria-hidden="true"></span><span class="sr-only">FDIC</span></a></span></li><li><span class="ehl"><a href="https://www.hud.gov" title="Equal Housing Lender">Equal Housing Lender <span class="icon icon-ehl" aria-hidden="true"></span></a></span></li><li><span class="profitstars">Created by <span class="icon icon-profitstars" aria-hidden="true"></span> <a href="https://www.profitstars.com" title="ProfitStars">ProfitStars</a></span></li></ul></div></div></footer>{{> accessibility-icon }}