<script>!function(e,a,t,n,o,c,r){e.GoogleAnalyticsObject=o,e.ga=e.ga||function(){(e.ga.q=e.ga.q||[]).push(arguments)},e.ga.l=1*new Date,c=a.createElement(t),r=a.getElementsByTagName(t)[0],c.async=1,c.src="//www.google-analytics.com/analytics.js",r.parentNode.insertBefore(c,r)}(window,document,"script",0,"ga"),ga("create","UA-XXXX-X","auto"),ga("send","pageview","/404error/?page="+document.location.pathname+document.location.search+"&from="+document.referrer)</script>