<div class="bannerVideo__container"><div class="video-container"><div class="filter"></div><div data-content-block="bannerVideo" data-content="content" data-editable="editable">{{#page.bannerVideo}} {{& content}} {{/page.bannerVideo}}</div><div class="poster hidden" data-content-block="bannerPoster" data-content="content" data-editable="editable">{{#page.bannerPoster}} {{& content}} {{/page.bannerPoster}}</div></div><div id="ytplayer"></div><div class="caption dark"><div class="container"><div class="content" data-content-block="videoCaption" data-content="content" data-editable="editable">{{#page.videoCaption}} {{& content}} {{/page.videoCaption}}</div></div></div></div>