{{> partials/top}}
<body class="subpage form">
  {{> partials/compliance}}
  <div class="master-container">

    {{> partials/header}}

    <div class="container">

      {{> partials/nav}}

      <div id="main" tabindex="-1" role="main">
          <h1 class="page-title">{{page.title}}<!-- @if NODE_ENV!='production' -->Contact Us<!-- @endif --></h1>
          <div class="row">
            <div class="col-lg-9 col-md-7">
              <!-- Start of Form Markup -->
              <div class="content mb-2" data-content-block="adaFeedbackCopy1" data-content="content" data-editable="editable">
                {{#page.adaFeedbackCopy1}}
                  {{& content}}
                {{/page.adaFeedbackCopy1}}
                <!-- @if NODE_ENV!='production' -->
                  <div>This content always shows</div>
                <!-- @endif -->
              </div>
              <div class="ajax-form-container">
                  <div class="form-container">
                    <div class="content" data-content-block="adaFeedbackCopy2" data-content="content" data-editable="editable">
                      {{#page.adaFeedbackCopy2}}
                        {{& content}}
                      {{/page.adaFeedbackCopy2}}
                      <!-- @if NODE_ENV!='production' -->
                        <div>This content hides on form submission</div>
                      <!-- @endif -->
                    </div>
                    <div class="spacer-30"></div>
                    <div class="required"><strong><span>*</span> Required</strong></div>
                    <div class="spacer-20"></div>
                    <form id="accessibilityFeedbackForm" data-parsley-validate name="accessibilityFeedbackForm" class="ajax-form">
                      <input type="hidden" name="formId" value="accessibilityFeedbackForm" class="form-id-input">
                      <div class="form-group">
                        <label for="fullName">Name<span>*</span></label>
                        <input type="text" class="form-control" name="fullName" id="fullName" required>
                      </div>

                      <div class="form-group">
                        <label for="emailAddress">Email<span>*</span></label>
                        <input type="email" data-parsley-type="email" class="form-control" name="emailAddress" id="emailAddress" required>
                      </div>

                      <div class="form-group">
                        <label for="phone">Phone<span>*</span></label>
                        <input type="tel" data-parsley-phone class="form-control" name="phone" id="phone" required>
                      </div>

                      <div class="form-group">
                        <label for="message">Message</label>
                        <textarea name="message" id="message" class="form-control" rows="5"></textarea>
                      </div>

                      <div class="form-group">
                        <button type="submit" class="btn btn-primary">Submit
                          <span class="loading" aria-hidden="true"><span class="loading-inner"></span></span>
                        </button>
                        <div class="error" role="alert" aria-atomic="true">There was an error submitting the form.</div>
                      </div>

                    </form>
                  </div>
                  <div class="success-container">
                    <div class="content" data-content-block="successCopy" data-content="content" data-editable="editable">
                      {{#page.successCopy}}
                        {{& content}}
                      {{/page.successCopy}}
                      <!-- @if NODE_ENV!='production' -->
                        <h4>Thank you for your submission!</h4>
                        <p>We will be in touch with you soon.</p>
                      <!-- @endif -->
                    </div>
                  </div>
                </div>
                <!-- End of Form Markup  -->
            </div>
            <div class="col-lg-3 col-md-5">
                <div class="content" data-content-block="subAd1" data-content="content" data-editable="editable">
                  {{#page.subAd1}}
                    {{& content}}
                  {{/page.subAd1}}
                  <!-- @if NODE_ENV!='production' -->
                      <p><a href="" class="btn btn-default">Default Button</a></p>
                      <p><a href="" class="btn btn-primary">Primary Button</a></p>
                      <p><a href="" class="btn btn-info">Info Button</a></p>
                      <p><a href="" class="btn btn-success">Success Button</a></p>
                      <p><a href="" class="btn btn-warning">Warning Button</a></p>
                      <p><a href="" class="btn btn-danger">Danger Button</a></p>
                      <p><a href="" class="btn btn-inverse">Inverse Button</a></p>
                   <!-- @endif -->
                </div>
                <div class="spacer-20"></div>
                <div class="content" data-content-block="subAd2" data-content="content" data-editable="editable">
                  {{#page.subAd2}}
                    {{& content}}
                  {{/page.subAd2}}
                  <!-- @if NODE_ENV!='production' -->
                      <h3>Lorem ipsum dolor sit amet.</h3>
                      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eum molestiae voluptates natus magnam blanditiis autem voluptas, consectetur, officiis, a nulla optio fugit perspiciatis possimus deserunt reprehenderit voluptatibus animi nostrum, earum ducimus doloribus dolorem accusamus. Suscipit ad quia maiores tempora, soluta, adipisci explicabo inventore magni itaque ratione, sapiente ipsam odit nobis molestias similique dolores! Hic omnis aspernatur, eius vitae doloribus assumenda.</p>
                   <!-- @endif -->
                </div>
            </div>
          </div>

      </div>

    </div>

      {{> partials/footer}}

  </div>

  {{> partials/scripts}}

</body>
</html>
