.ftr{
	background: $blue;
	padding: 40px 0;

	ul{
		list-style: none;
		padding: 0;
		margin: 0;
		font-size: 11px;
	}

	h2, li, a{
		color: #fff;
	}

	&-left{
		font-weight: bold;

		li{
			margin-bottom: 5px;
		}
		.icon{
			margin-left: 4px;

			&-profitstars{
				position: relative;
				top: 2px;
			}
		}
	}
	.accordion{
		border-bottom: 1px solid darken($blue, 2%);
		padding: 6px 0;
		max-width: 200px;
		margin: 0 auto 10px;
		width: 80%;

		h2{
			margin: 0;
			line-height: 1;
			font-size: 13px;
			font-weight: 500;
		}

		button{
			position: relative;
			padding: 0;
			width: 100%;
			text-align: left;

			&:after{
				content: '+';
				font-size: 20px;
				font-weight: normal;
				position: absolute;
				right: 0;
				top: 50%;
				transform: translateY(-50%);
			}

			&[aria-expanded=true]::after{
				content: '\2013';
			}
		}
		ul{
			margin: 8px 15px 0;
		}
		li{
			padding: 4px 0;
		}
	}
}
#scrollTop{
	background: #fff;
	border-radius: 30px;
	width: auto;
	display: inline-block;
	margin: 1.5rem auto;
	padding: 10px;

	.icon{
		color: $green;
		font-size: 9px;
		top: -2px;
		position: relative;
	}
}